@import url("base.css");

h2 {
  margin-top: -20px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 24px;
  font-family: var(--body-font);
  font-weight: 500;
}

.grey-container {
  height: 552px;
  width: 1026px;
  margin: 0 auto;
  border-radius: 10px;
}

.para {
  max-width: 1054px;
  height: 354px;
  font-size: 16px;
  margin-top: 40px;
  text-align: left;
}

h3 {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 20px;
  margin-left: 190px;
  margin-top: 50px;
}

.code-snippet {
  margin-top: -250px;
}

pre {
  line-height: 30px;
  margin-left: 400px;
  color: #000;
  background-color: #fff;
  width: 600px;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.tree {
  margin-top: -10px;
}

.lamport {
  margin-top: -200px;
}

.lab-video {
  margin-left: 200px;
}
