@import url("base.css");

.poem {
  font-family: var(--body-font);
  font-size: 24px;
  line-height: 50px;
  margin-top: 50px;
}

.poem-grey-container {
  height: 447px;
  width: 703px;
  margin: 0 auto;
  margin-left: 200px
}
